nav {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

main .table_section .blockages .list_title {
  font-size: 3em;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1em;
  display: none;
}
img {
  width: 100%;
}
.icon {
  width: 50px;
}

.fa-bars {
  font-size: 2rem;
}
.greeting {
  display: flex;
  flex-direction: column;
  text-align: center;

  min-height: 170px;
  justify-content: center;
}

.blockages {
  flex: 1;
}

.blockages-header {
  justify-content: space-between;
}

.btn {
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  padding: 1em;
}

.menu-toggle {
  cursor: pointer;
}

.greeting {
  text-align: center;
  padding: 20px 0;
}

/* Main Content Styles */
main {
  padding: 20px;
}

.blockages {
  margin-bottom: 20px;
}

.blockages-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.blockages-header button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.blockage-detail {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  gap: 1.1rem;
}

.status_btn {
  background-color: #dc3545;
}

.blockage-date {
  text-align: right;
  font-size: 0.8em;
  color: #888;
}

.status_date {
  justify-content: space-between;
  align-items: flex-end;
}
.status_date .status_info {
  gap: 1rem;
}
.delete_icon,
.edit_icon {
  font-size: 2rem;
  padding: 0.2rem 0.2rem;
}

.delete_icon {
  background-color: #dc3545;
}
.edit_icon {
  background-color: aquamarine;
}

.blockage_options {
  gap: 0.3rem;
}

.change_info {
  align-self: flex-end;
}

.add_btn {
  font-weight: bold;
  font-size: 2em;
  padding: 0.4em;
  min-width: 70px;
}

.status_date .details_btn {
  background-color: #888;
}

/* Modal Styles */
.modal {
  display: none; 
  position: fixed; 
  
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.modal-header h2 {
  font-size: 2em;
}

.close-modal {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  width: 40px;
  height: 40px;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
}

.user-info,
.status-date {
  flex: 1;
}

.status_btn {
  background-color: #ff7e8d;
  color: white;
  border: none;
  padding: 10px 3em;
  border-radius: 5px;
  cursor: pointer;
}

.blockage-date {
  text-align: right;
  font-size: 0.8em;
  color: #888;
}

.modal-footer {
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.description {
  margin-top: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.actions button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.actions button:hover {
  background-color: #0056b3;
}
.modal-body {
  align-items: center;
}

.modal-body .user-info {
  line-height: 3rem;
}

.modal-body .status-date {
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1em;
  flex: 0;
}

.modal-body .user-info .title {
  font-size: 1.4em;
  font-weight: bold;
}

.modal-footer .description {
  height: 200px;
  border: #333 solid 1px;
  background-color: #888;
  padding: 0.6rem 1rem;
  font-size: 1em;
  color: white;
}

header nav .nav_greeting {
  display: none;
}
.blockages-header h1 {
  font-size: 2.3rem;
}

.blockage-date-complet {
  display: none;
}

.table {
  display: none;
}

.blockage-detail .buttons {
  display: none;
}
.search-filter-sort {
  display: none;
}
@media (min-width: 991px) {
  nav .menu-tsoggle {
    display: none;
  }
  ul {
    display: flex;
    font-size: 1.8em;
  }
  .blockages .blockages-header .add_btn::before {
    content: "Add new blockage ";
  }
  .blockages .blockages-header {
    margin-bottom: 10em;
  }
  .table {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));

    text-align: center;
  }
  .table h3 {
    padding: 1rem;
    background: white;
    color: #867e7e;
    font-weight: bold;
    font-size: 1.8em;
    border-bottom: #333 1px solid;
  }
  .blockage-detail {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    background-color: none;
    padding: 0em;
    align-items: center;
    text-align: center;
  }
  .blockage-detail div {
    padding: 1em;
  }
  .blockage-detail h2 {
    padding-left: 1em;
  }

  .blockage-detail .name {
    display: none;
  }
  .details_btn {
    display: none;
  }
  .blockage-date {
    display: none;
  }
  .blockage-date-complet {
    display: block;
  }

  .blockage-detail .status_date {
    display: block;
  }
  .status-date .status_info {
    display: block;
  }
  .table_body {
    padding: 1.5em 0px;
  }
  .blockage-detail .buttons {
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    background: rgb(244, 244, 244);
  }
  .blockage-detail .buttons div {
    padding: 0.4em;
    cursor: pointer;
  }
  .blockage-detail .buttons .Edit {
    background-color: #00e0ff;
  }
  .blockage-detail .buttons .Delete {
    background-color: #ff0000;
  }
  .greeting {
    display: none;
  }
  header nav .nav_greeting {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;

    justify-content: center;
    text-align: center;
    padding: 20px 0;
  }
  header nav div {
    width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    padding: 10em 5em 0px;
  }
  main .table_section {
    border: 2px solid black;

    padding: 2em;
    height: 100%;
    border-bottom: none;
    background-color: #fff;
  }

  .search-filter-sort {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Add space between items */
    padding: 20px;
    background-color: #f5f5f500;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .search-filter-sort input[type="search"],
  .search-filter-sort select {
    padding: 1em 1.3em;
    font-size: 1.4em;
    font-weight: bold;
    color: #8188ab;
    background-color: #f7f8fc;
    border: none;
    border-radius: 5px;
  }

  .filter-options {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .filter-checkbox {
    margin-left: 5px;
  }

  .select_input {
    gap: 1em;
  }
  main .table_section .blockages .list_title {
    font-size: 3em;
    margin-bottom: 4em;
  }
}
