/* Base Styles for Mobile */
:root {
  --font-title: 3em;
  --font-body: 1rem;
  --font-label: 16px;
  --primary-color: #1b3742;
  --second-option-color: #6a6363a1;
  --font-weight: bold;
  --black: #000000;
  --gray: #434242;
  --hover-color: #0056b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav .Logo {
  width: 200px;
  padding: 1em;
}

.flex-row,
.flex-column {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.login-container {
  gap: 2em;
  padding: 2em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.login-info {
  gap: 1em;
  text-align: center;
}

.login-info h1 {
  font-size: var(--font-title);
  color: var(--primary-color);
}

.login-info .create-acount {
  color: var(--second-option-color);
}

.login-form {
  gap: 1em;
}

.form-group {
  gap: 0.5em;
}

input[type="email"],
input[type="password"] {
  border: 1px solid var(--black);
  border-radius: 5px;
  width: 100%;
  padding: 0.8em;
}

label {
  font-size: var(--font-label);
  font-weight: var(--font-weight);
}

.submit-button {
  border: var(--black) 1px solid;
  background-color: var(--gray);
  font-weight: var(--font-weight);
  color: white;
  padding: 1rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.submit-button:hover {
  background-color: #666666;
}

.hero-section {
  display: none;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  .login-container {
    max-width: 600px; /* Adjust max-width for tablets and larger */
  }
}

@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 1fr;
  }
  main {
    grid-row-start: 2;
  }
  header #nav-bar {
    justify-content: flex-start;
  }
  .hero-section {
    background-image: url("./img/hero_img.jpeg");
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    display: block; /* Show the hero section on larger screens */
  }
  .login-section {
    width: 100%;
  }
  .login-info {
    text-align: start;
  }
}
